<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'product_teams' %}" id="all-products-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Qualified Teams
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=shirts" id="clothing-link" data-toggle="" aria-haspopup="true" aria-expanded="false">
                Jerseys
            </a>
        </li>



        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'product_qatar' %}" id="specials-link" aria-haspopup="true" aria-expanded="false">
                Qatar 2022
            </a>
        </li>
    </ul>
</div>