<!-- prettier-ignore -->
{% extends "base.html" %}
{% block extra_title %}
 - Privacy Policy
 {%endblock %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<h1 class="text-center mb-5"><u>Privacy Policy</u></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 mb-3">
      <h3><strong>Cookies</strong></h3>
      <br>
      <p>If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.</p>
      <br>
      <p>If you visit our login page, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.</p>
      <br>
      <p>When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.</p>
      <br>
      <p>If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p>
      <br>
      <h3><strong>Embedded content from other websites</strong></h3>
      <br>
      <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.</p>
      <br>
      <p>These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.</p>
      <h3><strong>What rights you have over your data</strong></h3>
      <br>
      <p>If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>
      <br>
      <p>Visitor comments may be checked through an automated spam detection service.We collect information about you during the checkout process on our store.</p>
      <br>
      <h3><strong>What we collect and store</strong></h3>
      <br>
      <p><strong>While you visit our site, we’ll track:</strong></p>
      <br>
      <ul>
        <li>Products you’ve viewed: we’ll use this to, for example, show you products you’ve recently viewed</li>
        <li>Location, IP address and browser type: we’ll use this for purposes like estimating taxes and shipping</li>
        <li>Shipping address: we’ll ask you to enter this so we can, for instance, estimate shipping before you place an order, and send you the order!</li>
      </ul>
      <p>We’ll also use cookies to keep track of basket contents while you’re browsing our site.</p>
      <br>
      <p>When you purchase from us, we’ll ask you to provide information including your name, billing address, shipping address, email address, phone number, credit card/payment details and optional account information like username and password. We’ll use this information for purposes, such as, to:</p>
      <br>
      <ul>
        <li>Send you information about your account and order</li>
        <li>Respond to your requests, including refunds and complaints</li>
        <li>Process payments and prevent fraud</li>
        <li>Set up your account for our store</li>
        <li>Comply with any legal obligations we have, such as calculating taxes</li>
        <li>Improve our store offerings</li>
        <li>Send you marketing messages, if you choose to receive them</li>
        <li>If you create an account, we will store your name, address, email and phone number, which will be used to populate the checkout for future orders.</li>
      </ul>
      <br>
      <h3><strong>Who on our team has access</strong></h3>
      <br>
      <p>Members of our team have access to the information you provide us. For example, both Administrators and Shop Managers can access:</p>
      <br>
      <ul>
        <li>Order information like what was purchased, when it was purchased and where it should be sent, and</li>
        <li>Customer information like your name, email address, and billing and shipping information.</li>
        <li>Our team members have access to this information to help fulfill orders, process refunds and support you.</li>
      </ul>
      <br>
      <h3><strong>Payments</strong></h3>
      <br>
      <p>We accept payments through Stripe. When processing payments, some of your data will be passed to Stripe, including information required to process or support the payment, such as the purchase total and billing information.We use Stripe for credit card payments and personal information is sent in the same way. Please see Stripes Privacy Policy for more details.</p>

    </div>
  </div>
</div>

{% endblock %}