<!-- prettier-ignore -->
{% extends "base.html" %}
{% block extra_title %}
 - Returns and Refunds 
 {%endblock %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<h1 class="text-center mb-5"><u>Returns & Refunds</u></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 mb-3">
      <h3>Our refund policy lasts 14 days.</h3>
      <br>
      <h3>If 14 days have passed since your purchase, we can’t offer you a refund.</h3>
      <br>
      <p><strong>Returns:</strong></p>
      <br>
      <p>Unfortunately we are unable to offer refunds on perishable goods such as food if the product has already been baked, produced, packaged or shipped prior to you contacting us. If you have purchased an order by mistake you may be eligible for a refund or exchange prior to the item being produced or shipped.</p>
      <br>
      <p><strong>Additional non returnable items:</strong></p>
      <br>
      <p>– Gift cards</p>
      <br>
      <p>– Coupons/vouchers</p>
      <br>
      <p><strong>Refunds:</strong></p>
      <br>
      <p>If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days depending on the payment provider.</p>
      <br>
      <p><strong>Not satisfied:</strong></p>
      <br>
      <p>If you are not satisfied with your order please contact us via email. We may offer a refund at our own discretion if we believe you have a legitimate reason or complaint.</p>
      <br>
      <p><strong>Sale items:</strong></p>
      <br>
      <p>Only regular priced items can be exchanged. Sale items can not be refunded or exchanged if the product has already been woren, produced or shipped. Sale items also includes the use of a coupon.</p>
      <br>
      <p><strong>Lost or missed deliveries:</strong></p>
      <br>
      <p>We can’t be held responsible for missed deliveries when DPD or Mail have given proof of attempted delivery. Refunds can not be requested and delivery will be reattempted twice before automatically being returned to sender.</p>
      <br>
      <p><strong>Eligible for a refund:</strong></p>
      <br>
      <p>If you think you are eligible for a refund or exchange please e-mail us at info@nibblekitchen.co.uk, we do require that you have proof of purchase with your e-mail and order information handy.</p>
    </div>
  </div>
</div>

{% endblock %}