{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Qatar 2022 World Cup Teams</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-none d-xl-block mb-5">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/argentina-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Argentina</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/australia.jpeg" alt="">
                            <p class="mb-0 text-center">Australia</p>
                        </div>
                    </div>
                    
                   
                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="{{ MEDIA_URL }}belgium-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Belguim</p>
                        </div>
                    </div>
                    

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/brazil-750x422.jpeg" alt="">
                            <p class="mb-0 text-center">Brazil</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/cameroon-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Cameroon</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/canada-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Canada</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/costa-rica-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Cost Rica</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/croatia-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Croatia</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/denmark-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Denmark</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/download.jpeg" alt="">
                            <p class="mb-0 text-center">Iran</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/ecuador-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Ecuador</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/england-crest.jpeg" alt="">
                            <p class="mb-0 text-center">England</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/france-crest.jpeg" alt="">
                            <p class="mb-0 text-center">France</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/germany-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Germany</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/ghana-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Ghana</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/japan-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Japan</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/mexico-1crest.jpeg" alt="">
                            <p class="mb-0 text-center">Mexico</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/morocco-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Morocco</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/netherlands-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Netherland</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/poland-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Poland</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/portugal-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Portugal</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/qatar-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Qatar</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/saudi-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Saudi Arabia</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/senegal-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Senegal</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/serbia-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Serbia</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/south-korea-crest.jpeg" alt="">
                            <p class="mb-0 text-center">South Korea</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/spain-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Spain</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/switzerland-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Switzerland</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/tunisia-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Tunisia</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/uruguay-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Uruguay</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/usa-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Usa</p>
                        </div>
                    </div>

                    <div class="card h-44 border-0">
                        <div class="card-body pb-0">
                            <img  class="card-img-top img-fluid" src="/media/crest/wales-crest.jpeg" alt="">
                            <p class="mb-0 text-center">Wales</p>
                        </div>
                    </div>


                </div>   <hr>
            </div>

    
                

                

               
            </div>
        </div>
        

        <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
        </div>
    </div>
{% endblock %}