{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Fifa 2022 World Cup in Qatar</h2>
        </div>
    </div>

    <div class="text-left">
        <h3 class="text-black">Qatar the hosts of the 2022 FIFA World Cup</h3>
        <p class="text-black">With the 2022 FIFA World Cup kicking off in Qatar on 20 November, the Gulf state will be under the global spotlight.
            But the treatment of migrant workers is just one of a range of violations that make up the state’s troubling human rights record. Qatar’s authorities repress freedom of expression, freedom of the press and freedom of association; unfair trials remain concerning; women continue to face discrimination in law and practice; and laws continue to discriminate against LGBT individuals.
        </p>
    </div>

    <div class="text-center">
        <h3 class="text-black">Freedom of expression and press freedom </h3>
        <p class="text-black">The Qatari authorities use abusive laws to stifle those who are critical of the state, including both citizens and migrant workers
            Qatar has little independent or critical media. The country’s authorities limit press freedom by imposing restrictions on broadcasters, including by banning filming in certain locations such as government buildings, hospitals, universities, migrant workers’ accommodation sites and private homes.  
        </p>
    </div>

    <div class="text-left">
        <h3 class="">Women’s rights </h3>
        <p class="16px">Women continue to face discrimination in law and practice in Qatar. Under the guardianship system, women require the permission of their male guardian, usually their husband, father, brother, grandfather or uncle, to marry, study abroad on government scholarships, work in many government jobs, travel abroad</p>
    </div>

    <div class="text-center font-weight-bolds">
        <h3 class="text-">LGBT rights </h3>
        <p class="text-">In October 2022, human rights organizations documented cases in which security forces arrested LGBT individuals in public places — based solely on their gender expression — and searched their phones. They also said it was mandatory for transgender women detainees to attend conversion therapy sessions as a requirement for their release. 
        </p>
    </div>

    <div class="text-left">
        <h3 class="text-black">Labour rights </h3>
        <p class="text-black">Despite the government’s ongoing efforts to reform Qatar’s labour system, abuses remain rife across the country. While conditions have improved for some workers, thousands are still facing issues such as delayed or unpaid wages, denial of rest days, unsafe working conditions, barriers to changing jobs, and limited access to justice, while the deaths of thousands of workers remain uninvestigateds</p>
    </div>
{% endblock %}